body {
    background-color: #F4EDEA;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #6B4B3E;
    color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #628395;
    padding: 1rem;
    gap: 1rem;
}

main {
    margin: 2rem;
}

main>h1 {

    border-color: black;
    border-style: solid;
    border-width: 0 0 1px 0;

}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.book-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;

}

.book {
    box-sizing: border-box;
    width: 14rem;
    height: 17.5rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* background-color: hwb(231 4% 69%); */
    background-color: #628395;

    border-radius: 0.5rem;
    padding: 1rem;
}

.new-book-trigger {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #62839578;
    border-color: #628395;
    border-width: 0.25rem;
    border-style: dashed;
    height: 17.5rem;
    width: 14rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.new-book-trigger>label {
    font-size: 8.5rem;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 2.5rem;
}

.new-book-form {
    display: none;
    padding-bottom: 0.5rem;
}



#show-new-book:checked+.new-book-form {
    display: flex
}

#show-new-book:checked~.new-book-trigger {
    display: none;
}

.book>h3 {
    margin: 0;
    text-align: center;
}

.book>form {
    font-size: small;
}

.book-buttons {
    display: flex;
    justify-content: center;
    gap: 0.2rem;

}

.check-out-radio>input {
    appearance: none;

    border-radius: 50%;
    width: 0.8rem;
    height: 0.8rem;

    border: 2px solid white;
    transition: 0.1s all linear;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    margin-bottom: 0.3rem;


}

.check-out-radio {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.check-out-radio>input:checked {
    background-color: white;
}

.edit-form {
    display: none;
    visibility: hidden;
    transition: 1s all linear;
    opacity: 0;
}

#show-edit {
    display: none;
}

.edit-toggle:checked~.edit-form {
    display: flex;
    opacity: 1;
    visibility: visible;

}



.edit-toggle:checked~.book-display {
    display: none;
    opacity: 0;
    visibility: visible;
}


.button-label-container {
    display: flex;
    align-items: center;
    background-color: rgb(211, 211, 211);
    border-color: rgb(118, 118, 118);
    border-style: outset;
    border-width: 2px;
    border-radius: 8%;

}

.button-label-container>label {
    text-align: center;
    /* background-color: rgb(239, 239, 239); */

    cursor: pointer;
    color: black;
    padding: 1px 6px;
    /* box-sizing: border-box; */

}

input {
    cursor: pointer;
}

label {
    cursor: pointer;
}

input[type=submit] {
    background-color: rgb(211, 211, 211);

}

.breadcrumb {
    font-size: smaller;
    color: black;
}