{% set checked_out = book.is_checked_out %}
<p>{{ book.title }} by {{ book.author }} -- {{ book.genre }} -
    {% if checked_out %}
    not available
    {% else %}
    available
    {% endif %}</p>

{% if books %}
{% set book_index = books.index(book) %}
{% set request_origin = '/books' %}
{% else %}
{% set book_index = index %}
{% set request_origin = '/books/' + book_index %}
{% endif %}

<form action="/books/{{ book_index }}" method="post">
    <input type="hidden" name="request_origin" id="request_origin" value="{{ request.path }}">
    <label for="check_out">Check out:</label>
    <input type="radio" name="check_out" id="check_out" value="1" {% if checked_out %} checked {% endif %}>
    <label for="check_in">Check in:</label>
    <input type="radio" name="check_out" id="check_in" value="0" {% if not checked_out %} checked {% endif %}>
    <input type="submit" value="Update">
</form>

{% if books %}
<form action="/books/{{ book_index}}">
    <input type="submit" value="View Details">
</form>
{% endif %}

<form action="/books/delete/{{ book_index }}" method="post">
    <input type="submit" value="Delete">
</form>