<section class="book new-book-form">
    <h3>Add New</h3>
    <form action="/books" method="post">
        <p>
            <label for="title">Title: </label> <br>
            <input type="text" name="title" id="title">
        </p>
        <p>
            <label for="author">Author: </label> <br>
            <input type="text" name="author" id="author">
        </p>
        <p>
            <label for="genre">Genre: </label><br>
            <input type="text" name="genre" id="genre">
        </p>
        <p>
        <div class="book-buttons">
            <input type="submit" value="Add Book">
            <span class="button-label-container">
                <label for="show-new-book">Cancel</label>
            </span>
        </div>
        </p>
    </form>
</section>