<section class="book">
    <h2>Add New</h2>
    <form action="/books" method="post">
        <p>
            <label for="title">Title: </label> <br>
            <input type="text" name="title" id="title">
        </p>
        <p>
            <label for="author">Author: </label> <br>
            <input type="text" name="author" id="author">
        </p>
        <p>
            <label for="genre">Genre: </label><br>
            <input type="text" name="genre" id="genre">
        </p>
        <p>
            <input type="submit" value="Add Book">
        </p>
    </form>
</section>