{% if books %}
{% set book_index = books.index(book) %}
{% set request_origin = '/books' %}
{% endif %}

{% set checked_out = book.is_checked_out %}

{% if checked_out %}
{% set availability = " Not Available" %}
{% else %}
{% set availability = "Available" %}
{% endif %}




<article class="book">

    <h3>{{ book.title }}</h3>
    <p>by {{ book.author }}</p>
    <p>{{ book.genre }}</p>
    <p>{{ availability }}</p>
    <form action="/books/{{ book_index }}" method="post">
        <input type="hidden" name="request_origin" id="request_origin" value="{{ request.path }}">
        <div class="check-out-radio">
            <label for="check_in">Check in:</label>
            <input type="radio" name="check_out" id="check_in" value="0" {% if not checked_out %} checked {% endif %}>
            <label for="check_out">Check out:</label>
            <input type="radio" name="check_out" id="check_out" value="1" {% if checked_out %} checked {% endif %}>
        </div>
        <div class="book-buttons">
            <input type="submit" value="Update">
    </form>
    {% if books %}
    <form action="/books/{{ book_index }}">
        <input type="submit" value="View">
    </form>
    {% else %}


    <div class="button-label-container">
        <label for="show-edit">Edit</label>
    </div>


    {% endif %}
    <form action="/books/delete/{{ book_index }}" method="post">
        <input type="submit" value="Delete">
    </form>
    </div>

</article>